body {
    background: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes square-animation-1 {
    from {
        border: solid 0.2rem white;
        opacity: 0;
        transform:rotate(0deg);
    }
    to {
        border: solid 0.2rem white;
        opacity: 1;
        transform:rotate(45deg);
    }
}

@keyframes square-animation-2 {
    0% {
        transform:translateY(0rem) rotate(45deg);
    }

    50% {
        transform:translateY(-1rem) rotate(45deg);
    }

    100% {
        transform:translateY(0rem) rotate(45deg);
    }
}


.square {
    width: 15rem;
    height: 15rem;
    top: 3rem;
    position: relative;

    margin: 0 auto;

    border: solid 0.2rem black;
    transform: rotate(45deg);

    animation: square-animation-1 2s 0.5s alternate forwards, square-animation-2 6s 3s infinite;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.name {
    position: relative;
    top: 7.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40pt;
    animation-name: fadein;
    animation-duration: 2s;
}

.icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    width: 50%;
    top: 9rem;
    left: 25%;
}

.twitter-icon {
    width: 3rem;
    height: 3rem;
    position: relative;

    opacity: 0;

    animation: fadein 2s 1.5s alternate forwards ;
    background-image: url("assets/Twitter_Social_Icon_Circle_White.svg");
}

.github-icon {
    width: 3rem;
    height: 3rem;

    opacity: 0;
    fill: white;

    animation: fadein 2s 1.5s alternate forwards ;
}
