@mixin flex($direction: column, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $align;
}

body {
    @include flex();

    align-items: center;
    background: black;
    color: white;
}

.square {
    width: 15rem;
    height: 15rem;
    top: 3rem;
    position: relative;

    opacity: 0;
    border: solid 0.2rem white;
}

.name {
    position: relative;
    top: 7.5rem;

    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40pt;

    opacity: 0;
}

.icons {
    @include flex(row, space-between);

    position: relative;

    width: 50%;
    left: 25%;
    top: 9rem;

    opacity: 0;
}

.twitter-icon , .github-icon{
    width: 3rem;
    height: 3rem;
    position: relative;

    fill: white;
}

