@mixin flex($direction: column, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $align;
}

html {
    font-size: 2vmin;
}

.body {
    @include flex();

    align-items: center;
    background: black;
    color: white;
}

.square {
    width: 15rem;
    height: 15rem;
    top: 7rem;
    position: relative;

    opacity: 0;
    border: solid 0.5rem white;
}

.name {
    position: relative;
    top: 11.5rem;

    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4rem;

    opacity: 0;
}

.comingsoon {
    @extend .name;
    top: 17rem;
    font-size: 1rem;
}

.icons {
    @include flex(row, space-between);

    position: relative;
    width: 12rem;
    top: 13rem;
    opacity: 0;
}

.twitter-icon, .github-icon, .intro-icon {
    width: 3rem;
    height: 3rem;
    position: relative;

    fill: white;
}

.twitter-icon-background, .github-icon-background {
    @extend .twitter-icon;
    position: absolute;
    opacity: 0;
}

.Footer {
    @include flex();
    align-items: center;

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;

    color: gray;

    opacity: 0;
}



